a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: $main_color;
        color: inherit;
    }
}
p {
    margin-bottom: 0;
}
body {
    font-family: 'Raleway', sans-serif;
}
.main-btn {
    display: inline-block;
    font-weight: 500;
    background-color: $main_color;
    text-transform: uppercase;
    border: none;
    color: #fff;
    border-bottom: 4px solid #96151a;
    box-shadow: 0 0 1em 0.5em rgba($color: $main_color, $alpha: 0.3);
    transition: all 0.4s;
    &:hover {
        filter: brightness(0.7);
    }
}
.secondary-btn {
    background-color: transparent;
    border: 2px solid $secondary_color;
    color: $main_text;
    font-weight: 500;
}
.secondary-c {
    color: $secondary_color;
}
